<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Grautbakken Filmsjappe</title>
    <link href="~/Content/Grautbakken.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-color: #ffffff">
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Grautbakken Filmsjappe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    -->
    <div id="headerDiv" class="container">
        <table>
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Film")" title="List View" class="links">
                        <img alt="Logo" src="@Url.Content("~/Content/images/logo.jpg")" class="img-responsive" width="180" height="126">
                    </a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <h2>Grautbakken Filmsjappe</h2>
                </td>
            </tr>
        </table>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <div id="footerDiv">
            <p>&copy; @DateTime.Now.Year - Grautbakken Filmsjappe</p>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>