@model Graubakken_Filmsjappe.Models.Film

@{
    ViewBag.Title = "Film";
}
@if (Model != null)
{
    <h2>Film</h2>

    <div>
        <h4>Film</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Navn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Navn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Produksjonsår)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Produksjonsår)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kontinent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kontinent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Studio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Studio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bilde)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bilde)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Visninger)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Visninger)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Beskrivelse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Beskrivelse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pris)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pris)
            </dd>

        </dl>
    </div>
    <p>
        <a href="#bekreftModal" type="button" data-visModal="true" data-toggle="modal" class="btn btn-success" id="kjop">Kjøp (@Model.Pris kr)</a>
        @Html.ActionLink("Til hovedsiden", "Index", null, new { @class = "btn btn-default" })
        @if (Session["Brukernavn"] != null && (string)Session["Brukernavn"] != "")
        {
            <button onclick="leggIØnskeListe(@Model.id)" class="btn btn-success" id="leggIListe">Legg i ønskeliste</button>
            <div id="alertTarget"></div>
        }
    </p>

    <div id="bekreftModal" class="modal fade" style="color: #242424">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <span hidden id="filmIDSpan">@Model.id</span>
                    <p>Bekreft kjøp av film <b>@Model.Navn </b>for <b>@Model.Pris </b>kr</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="bekreft">Ok</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Avbryt</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h3>Fant ikke filminformasjon</h3>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#bekreft").click(function () {
            window.location.href = "FilmVisning?id=" + $("#filmIDSpan").html();
        })

    });

    function leggIØnskeListe(filmID) {
        $.ajax({
            url: '/Film/LeggIØnskeliste?FilmID=' + filmID,
            type: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data === "OK") {
                    alertFeedback(true);
                }
                else {
                    alertFeedback(false);
                }
            },
            error: function (x, y, z) {
                console.log("Feilet API kall for å legge film i ønskeliste");
            }
        });
    }

    function alertFeedback(resultat) {
        var output = "";
        if (resultat) {
            output += "<div class='alert alert-success alert-dismissible fade in'>";
            output += '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>';
            output += "Film lagt til i Ønskelisten</div>";
        }
        else {
            output += "<div class='alert alert-danger alert-dismissible fade in'>";
            output += '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>';
            output += "Klarte ikke å legge film til i ønskelisten</div>";
        }
        $("#alertTarget").html(output);
    }
</script>