@model Graubakken_Filmsjappe.Models.Film
@{
    ViewBag.Title = "FilmVisning";
}
@if (Model != null)
{
    var tilfeldigtall = new Random();
    int filmPlakat = tilfeldigtall.Next(1, 5);


    <img src="~/Content/images/filmvisning/filmvisning0@(filmPlakat).jpg" alt="Filmen Vises" class="img img-responsive" />
    <h2>@Model.Navn</h2>
    <div class="row">
        <div class="col-sm-6">
            <p>@Model.Visninger visninger</p>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <div id="statistikk">
                    <p>Vurdering: <span id="gjennomsnittSpan">@Model.Gjennomsnitt</span> av 5 stjerner<br />
                    Basert på <span id="antallSpan">@Model.Stemmer.Count()</span> stemmer</p>
                </div>
                <button onclick="stemPåFilm(@Model.id, '@Session["Brukernavn"]', 4)" class="btn btn-info">Stem!</button>
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-2">
            <div class="pull-right">
                <img src="../@Model.Bilde" alt="@Model.Navn" width="50" height="50" class="img img-responsive" />
            </div>
        </div>
        <div class="col-sm-10">
            <p>
                <b>@Model.Studio</b><br />
                Lastet opp: @Model.ReleaseDate
            </p>
            <p>
                @Model.Beskrivelse
            </p>
        </div>
    </div>
}
else
{
    <h3>Fant ikke filmen</h3>
}

<script type="text/javascript">

    function stemPåFilm(filmID, brukernavn, stemme) {
        $.ajax({
            url: '/Film/StemPåFilm/?FilmID=' + filmID + "&Brukernavn=" + brukernavn + "&stemme=" + stemme,
            type: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data === "OK") {
                    console.log("Stemme registrert");
                    oppdaterStatistikk();
                }
                else {
                    console.log("Klarte ikke å registrere stemme");
                }
            },
            error: function (x, y, z) {
                console.log("Feilet API kall for å stemme på film");
            }
        });
    }

    function oppdaterStatistikk() {
        var antall = parseInt($("#antallSpan").html(), 10);
        $("#antallSpan").html(antall+1);
    }

</script>