@model List<Graubakken_Filmsjappe.Models.IndexView>
@{
    ViewBag.Title = "Index";
}

<!-- BildeSlider Filmer -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div id="bildeSlide" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators" style="top:5px">
                    <li data-target="#bildeSlide" data-slide-to="0" class="active"></li>
                    <li data-target="#bildeSlide" data-slide-to="1"></li>
                    <li data-target="#bildeSlide" data-slide-to="2"></li>
                    <li data-target="#bildeSlide" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src='../@(Model[0].Filmer[0].Bilde)' alt="@(Model[0].Filmer[0].Navn)" class="img-responsive" />
                        <h3>@(Model[0].Filmer[0].Navn)</h3>
                        <p>@(Model[0].Filmer[0].Beskrivelse)</p>
                    </div>
                    @for (int i = 1; i < 4; i++)
                    {
                        <div class="item">
                            <img src='../@(Model[0].Filmer[i].Bilde)' alt="@(Model[0].Filmer[i].Navn)" class="img-responsive" />
                            <h3>@(Model[0].Filmer[i].Navn)</h3>
                            <p>@(Model[0].Filmer[i].Beskrivelse)</p>
                        </div>
                    }
                </div>

                <a class="left carousel-control" href="#bildeSlide" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Forrige</span>
                </a>
                <a class="right carousel-control" href="#bildeSlide" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Neste</span>
                </a>
            </div>
        </div>
        <div class="col-sm-4" style="color:#2e2e2e">
            @for (int i = 0; i < 3; i++)
            {
                <div class="well">
                    <p><b>@(Model[0].Nyheter[i].Tittel)</b> &nbsp;&nbsp; <br /><i>@(Model[0].Nyheter[i].Dato)</i></p>
                    <p>@(Model[0].Nyheter[i].Beskjed)</p>
                </div>
            }
        </div>
    </div>
    <hr>
</div>

<!-- Collapse Menu Filmer -->
<div class="container text-center">
    <h3 id="scrollTarget">Se film når det passer deg!</h3>
    <br>
    <div class="row">
        @for (int i = 4; i < 8; i++)
        {
            <div class="col-sm-3">
                <a href="#filmCollapse" data-id="@(Model[0].Filmer[i].id)"
                     data-visCollapse="true" style="cursor: pointer" data-kontinent="@(Model[0].Filmer[i].Kontinent)"
                     data-bilde="@(Model[0].Filmer[i].Bilde)" data-navn="@(Model[0].Filmer[i].Navn)" data-produksjonsår="@(Model[0].Filmer[i].Produksjonsår)"
                     data-beskrivelse="@(Model[0].Filmer[i].Beskrivelse)" data-studio="@(Model[0].Filmer[i].Studio)" data-visninger="@(Model[0].Filmer[i].Visninger)">

                <img src='../@(Model[0].Filmer[i].Bilde)' alt="@(Model[0].Filmer[i].Navn)" class="img-responsive center" width="250" height="300" />
                <p>@(Model[0].Filmer[i].Navn)</p>
                </a>
            </div>
        }
    </div>
    <hr>
</div>

<div id="filmCollapse" class="collapse">
    <span hidden id="collapseID"></span>
    <div id="collapseContent">
        
    </div>
</div>

<!-- Actionfilmer Meny -->
<div class="container text-center">
    <h3>Noen filmer fra Action kategorien</h3>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film01" class="img-responsive" style="width:100%" alt="Image">
            <p>Film01</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film02" class="img-responsive" style="width:100%" alt="Image">
            <p>Film02</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film03" class="img-responsive" style="width:100%" alt="Image">
            <p>Film03</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film04" class="img-responsive" style="width:100%" alt="Image">
            <p>Film04</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film05" class="img-responsive" style="width:100%" alt="Image">
            <p>Film05</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film06" class="img-responsive" style="width:100%" alt="Image">
            <p>Film06</p>
        </div>
    </div>
</div><br>

<script type="text/javascript">
    $(document).ready(function () {
        // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
        $('a[data-visCollapse=true]').click(function (evt) {
            evt.preventDefault();
            var data = {
                Navn: $(this).data("navn"),
                Bilde: $(this).data("bilde"),
                Visninger: $(this).data("visninger"),
                Produksjonsår: $(this).data("produksjonsår"),
                Kontinent: $(this).data("kontinent"),
                Studio: $(this).data("studio"),
                Beskrivelse: $(this).data("beskrivelse"),
                id: $(this).data("id")
            }
            var id = $(this).data("id");

            if (!$("#filmCollapse").is(":visible")) {
                // Første trykk på collapsen
                $("#filmCollapse").collapse("show");
                $("#collapseID").html(id);

                $('html, body').animate({
                    scrollTop: $("#scrollTarget").offset().top // Flytter nettleseren til collapse innholdet
                }, 500);

                formaterFilmData(data);
            }
            else if ($("#collapseID").html() == id) {
                // Trykker på samme collapse - Gjemmer innhold
                $("#filmCollapse").collapse("hide");
            }
            else {
                // Ny content i collapsen
                $("#collapseID").html(id);
                formaterFilmData(data);
            }

        });
    })

    function formaterFilmData(data) {
        console.log(data);
        var utData = "";
        utData += '<div class="container">';
        utData += '<div class="row">';

        utData += '<div class="col-xs-4"><div class="float-right">';
        utData += '<img src="../' + data.Bilde + '" alt="' + data.Navn + '" class="img-responsive">';
        utData += '</div></div>';

        utData += '<div class="col-xs-8">';
        utData += '<h3>' + data.Navn + '</h3>';
        utData += '<h5>Sjanger</h5>';
        utData += '<p>' + data.Beskrivelse + '</p>';
        utData += '<br><br>';
        utData += '<p>Utgivelsesår: ' + data.Produksjonsår + ' &nbsp;&nbsp; Fra: ' + data.Kontinent + ' &nbsp;&nbsp;';
        utData += 'Studio: ' + data.Studio + '<br>';
        utData += 'Antall Visninger: ' + data.Visninger + '</p>';
        utData += '</div>';

        utData += '</div>';
        utData += '</div>';
        utData += '<hr>';

        $("#collapseContent").html(utData);
    }
    
    /* Ubrukt AJAX
    function hentFilmData(innID) {
        $.ajax({
            url: '/Film/HentEnFilm/' + innID,
            type: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                formaterFilmData(data);
            },
            error: function (x, y, z) {
                console.log("Feilet API kall for å hente filminformasjon");
            }
        });
    } */
</script>