@model List<Graubakken_Filmsjappe.Models.Film>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div id="bildeSlide" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators" style="top:5px">
                    <li data-target="#bildeSlide" data-slide-to="0" class="active"></li>
                    <li data-target="#bildeSlide" data-slide-to="1"></li>
                    <li data-target="#bildeSlide" data-slide-to="2"></li>
                    <li data-target="#bildeSlide" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src='../@(Model[0].Bilde)' alt="@(Model[0].Navn)" class="img-responsive" />

                        <h3>@(Model[0].Navn)</h3>
                        <p>@(Model[0].Beskrivelse)</p>

                    </div>

                    <div class="item">
                        <img src='../@(Model[5].Bilde)' alt="@(Model[5].Navn)" class="img-responsive" />

                        <h3>@(Model[5].Navn)</h3>
                        <p>@(Model[5].Beskrivelse)</p>

                    </div>

                    <div class="item">
                        <img src='../@(Model[3].Bilde)' alt="@(Model[3].Navn)" class="img-responsive" />

                        <h3>@(Model[3].Navn)</h3>
                        <p>@(Model[3].Beskrivelse)</p>

                    </div>

                    <div class="item">
                        <img src='../@(Model[7].Bilde)' alt="@(Model[7].Navn)" class="img-responsive" />

                        <h3>@(Model[7].Navn)</h3>
                        <p>@(Model[7].Beskrivelse)</p>

                    </div>
                </div>

                <a class="left carousel-control" href="#bildeSlide" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Forrige</span>
                </a>
                <a class="right carousel-control" href="#bildeSlide" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Neste</span>
                </a>
            </div>
        </div>
        <div class="col-sm-4" style="color:#2e2e2e">
            <div class="well">
                <p><b>@(ViewBag.Tittel0)</b> &nbsp;&nbsp; <br /><i>@(ViewBag.Dato0)</i></p>
                <p>@(ViewBag.Beskjed0)</p>
            </div>
            <div class="well">
                <p><b>@(ViewBag.Tittel1)</b> &nbsp;&nbsp; <br /><i>@(ViewBag.Dato1)</i></p>
                <p>@(ViewBag.Beskjed1)</p>
            </div>
            <div class="well">
                <p><b>@(ViewBag.Tittel2)</b> &nbsp;&nbsp; <br /><i>@(ViewBag.Dato2)</i></p>
                <p>@(ViewBag.Beskjed2)</p>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container text-center">
    <h3>Se film når det passer deg!</h3>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src='../@(Model[1].Bilde)' alt="@(Model[1].Navn)" class="img-responsive center" width="250" height="300" onclick="filmCollapse(@(Model[1].id))"  style="cursor: pointer" />
            <p>@(Model[1].Navn)</p>
        </div>
        <div class="col-sm-3">
            <img src='../@(Model[2].Bilde)' alt="@(Model[2].Navn)" class="img-responsive center" width="250" height="300" onclick="filmCollapse(@(Model[2].id))"  style="cursor: pointer" />
            <p>@(Model[2].Navn)</p>
        </div>
        <div class="col-sm-3">
            <img src='../@(Model[4].Bilde)' alt="@(Model[4].Navn)" class="img-responsive center" width="250" height="300" onclick="filmCollapse(@(Model[4].id))"  style="cursor: pointer" />
            <p>@(Model[4].Navn)</p>
        </div>
        <div class="col-sm-3">
            <img src='../@(Model[6].Bilde)' alt="@(Model[6].Navn)" class="img-responsive center" width="250" height="300" onclick="filmCollapse(@(Model[6].id))"  style="cursor: pointer" />
            <p>@(Model[6].Navn)</p>
        </div>
    </div>
    <hr>
</div>


<div id="filmCollapse" class="collapse">
    <span hidden id="collapseID"></span>
    <div id="collapseContent">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>

<div class="container text-center">
    <h3>En annen sjanger</h3>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film01" class="img-responsive" style="width:100%" alt="Image">
            <p>Film01</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film02" class="img-responsive" style="width:100%" alt="Image">
            <p>Film02</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film03" class="img-responsive" style="width:100%" alt="Image">
            <p>Film03</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film04" class="img-responsive" style="width:100%" alt="Image">
            <p>Film04</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film05" class="img-responsive" style="width:100%" alt="Image">
            <p>Film05</p>
        </div>
        <div class="col-sm-2">
            <img src="https://placehold.it/150x80?text=Film06" class="img-responsive" style="width:100%" alt="Image">
            <p>Film06</p>
        </div>
    </div>
</div><br>

<script type="text/javascript">
    function filmCollapse(id) {
        if (!$("#filmCollapse").is(":visible")) {
            // Første trykk på collapsen
            $("#filmCollapse").collapse("show");
            $("#collapseID").html(id);
            $("#collapseContent").html(id);
        }
        else if ($("#collapseID").html() == id) {
            // Trykker på samme collapse - Gjemmer innhold
            $("#filmCollapse").collapse("hide");
        }
        else {
            // Ny content i collapsen
            $("#collapseID").html(id);
            $("#collapseContent").html(id);
        }
        
    }
</script>